__pycache__/
.idea/
snapshot*/
experiments*/
experiments
tensorboard*/
plots*/
.shared/
*.tar
*.zip
*.tar.*
*.png
!abas.png
*.pth
*.txt
!requirements.txt
*.log
*.out
*.pkl
!regressors/*.pkl
*.json
*.ipynb
*.ignore.*